<html>

<head>
    <meta charset="utf-8">
    <title>
        Weather forecast application for Neliti
    </title>
    {% load static %}
    <script src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />

</head>

<body>
    <div class="container">
        <div class="forecast">
            <div class="location">
                <h2>LAT: {{ lat }}</h2>
                <h2>LON: {{ lon }}</h2>
            </div>
            <div class="fraction">
                <h1> Cloud Area Fraction</h1>

                <h2>{{ fraction }}{{ unit }}</h2>
            </div>

            <div class="date-time">
                <div class="current-date">{{time}}</div>
            </div>

        </div>

        <div class="search">
            <div class="coordinate">
                <h3>Search</h3>
                <form action="" class="search-box">
                    <input type="text" name="lat" class="search-bar" placeholder="Lat" value="" />
                    <input type="text" name="lon" class="search-bar" placeholder="Lon" value="" />

                    <button type="submit" class="img-box">
                        <img src="{% static 'images/search.ico' %}" />
                    </button>
                </form>
            </div>
        </div>

    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.current-date').html(dateBuilder(new Date()));
        });

    </script>

</body>

</html>