button::before {

    content: '';
    position: absolute;

    z-index: -1;
    border-radius: 0.1rem;
    box-shadow: 0px 0px 0px 0.2rem grey;
    top: -0.3rem;
    left: -0.3rem;
    width: 15.4rem;
    height: 2.3rem;

    background-color: white;
}

button {
    width: 15rem;
    height: 2rem;
    border-radius: 0.2rem;
    position: relative;

    margin: 0.1rem;
    color: black;
    border-color: #ababab;
    background-image: linear-gradient(#e3e3e4, #b3b3b4);

}

button::after {
    content: '';
    position: absolute;

    background-color: #cbcbcb;
    border-radius: 0.2rem;

    top: -0.2rem;
    left: -0.2rem;
    width: 15.2rem;
    height: 2.2rem;
    z-index: -1;
}