
/* Layout */
.forecast {
    width: 60%;
    height: 100%;
    float: left;
    background: url("../images/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 500px;
    position: relative;
    background-position-x: -30px;
}

body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.container {
    width: 65%;
    height: 80vh;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.73);
}

/* forcast section */

.location {
    float: right;
    font-family: "Oxygen", sans-serif;
    padding: 30px 30px 0 0;
  }
  
  .location h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }
  
  .fraction {
    position: absolute;
    top: 26vh;
    margin-left: 96px;
    font-family: "Oxygen", sans-serif;
    padding: 30px 30px 0 0;
  }
  
  .fraction h1, h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }
  
  .date-time {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px;
  }

/* Search Box */

.search-box {

    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

.search-box .img-box {
    background: rgb(255, 255, 255, 0.2);
    border-radius: 5px;
    height: 32px;
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 20px auto;
    cursor: pointer;
}

.search-box img {
    width: 20px;
    cursor: pointer;
}

.search-box .search-bar {
    border: none;
    padding: 10px 11px;
    background: transparent;
    color: white;
    border-bottom: 1px solid;
    font-size: 16px;
}

.search-box .search-bar::placeholder {
    color: white;
}

.search-bar:focus {
    outline: none;
    border-bottom: 1px solid gray;
    transition: all 1s ease-in-out;
}


.coordinate h3 {
    text-transform: capitalize;
    font-size: 50px;
    color: #fff;
    width: 80%;
    margin: 0 auto 10px;
    padding-top: 20vh;
    margin-right: 0;
    padding-bottom: 10px;
    border-width: thin;
}

.coordinate h3 {
    font-size: 40px;
}

/* Responsive */

@media screen and (max-width: 1920px) {
    .container {
        width: 50%;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: 55%;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 75%;
    }
}

@media screen and (max-width: 966px) {
    .container {
        width: 90%;
    }
}


@media screen and (max-width: 800px) {
    h1 {
        font-size: 35px;
    }

}

@media screen and (max-width: 667px) {
    h1 {
        font-size: 40px;
        margin-top: 30px;
    }

    .container {
        width: 95%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 30px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 603px) {
    h1 {
        font-size: 35px;
    }

}

@media screen and (max-width: 533px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 375px) {}